@import "Theme.scss";
@import "../Components/Button/Button.scss";
@import "../Components/IconButton/IconButton.scss";
@import "../Components/FabButton/FabButton.scss";
@import "../Pages/Home/Home.scss";
@import "../Pages/Home/Components/Aboutme/Aboutme.scss";
@import "../Pages/Home/Components/Skill/Skill.scss";
@import "../Pages/Home/Components/Hobbies/Hobbies.scss";
@import "../Pages/Home/Components/Aboutme/Aboutme.scss";
@import "../Pages/Home/Components/Timeline/Timeline.scss";

html, body {
    font-family: 'Nunito', sans-serif;
    margin: 0px;
    height: 100%;
    background-color: $white-color;
    scrollbar-width: thin;
    overflow-x: hidden;
    scroll-behavior: smooth;

    @media (min-width: 577px) {
        ::-webkit-scrollbar {
            width: 8px;
        }
    }

    ::-webkit-scrollbar-thumb {
        background: $lightgrey-color;
    }
}

button {
    font-family: 'Nunito', sans-serif;
}

a {
    color: $secondary-color;
    text-decoration: none;
}

app {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

#loading-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    #loading {
        position: relative;
        width: 80px;
        height: 80px;

        div {
            position: absolute;
            background-color: $primary-color;
            top: 33px;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            animation-timing-function: cubic-bezier(0, 1, 1, 0);
            animation: loader-animation 0.1s cubic-bezier(0, 0.2, 0.8, 1)
        }

        div:nth-child(1) {
            left: 8px;
            animation: lds-ellipsis1 0.6s infinite;
        }

        div:nth-child(2) {
            left: 8px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        div:nth-child(3) {
            left: 32px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        div:nth-child(4) {
            left: 56px;
            animation: lds-ellipsis3 0.6s infinite;
        }

        @keyframes lds-ellipsis1 {
            0% {
                transform: scale(0);
            }

            100% {
                transform: scale(1);
            }
        }

        @keyframes lds-ellipsis3 {
            0% {
                transform: scale(1);
            }

            100% {
                transform: scale(0);
            }
        }

        @keyframes lds-ellipsis2 {
            0% {
                transform: translate(0, 0);
            }

            100% {
                transform: translate(24px, 0);
            }
        }

        @keyframes loader-animation {
            0% {
            }

            100% {
            }
        }
    }
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
/* Rules for sizing the icon. */
.material-icons-outlined.md-18 {
    font-size: 18px;
}

.material-icons-outlined.md-24 {
    font-size: 24px;
}

.material-icons-outlined.md-36 {
    font-size: 36px;
}

.material-icons-outlined.md-48 {
    font-size: 48px;
}
