$primary-color: #7002c4;
$primary-color-light: #8402E7;
$primary-color-lighter: #9B1BFD;
$primary-color-low-opacity: rgba(112, 2, 196, 0.1);
$secondary-color: #f28a02;
$secondary-color-light: #fd9815;
$secondary-color-lighter: #FDAA3D;

$white-color: #F8F8FF;
$lightgrey-color: #CCCCCC;
$grey-color: #888888;
$black-color: #363636;