@import "../../Styles/Theme.scss";

.component-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    color: $white-color;
    background-color: $primary-color;
    padding-right: 16px;
    height: 36px;
    border-radius: 5px;
    background-position: center;
    transition: background 0.5s;
    min-width: 64px;
    cursor: pointer;

    &.without-icon {
        padding-left: 16px;
    }

    &.with-icon {
        padding-left: 12px;

        .label {
            margin-left: 8px;
        }
    }

    &:hover {
        background: $primary-color-light radial-gradient(circle, transparent 1%, $primary-color-light 1%) center/15000%;
    }

    &:active {
        background-color: $primary-color-lighter;
        background-size: 100%;
        transition: background 0s;
        outline: none;
    }
}