@import "../../Styles/Theme.scss";

.component-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    color: $white-color;
    background-color: $primary-color;
    padding-right: 16px;
    height: 36px;
    border-radius: 5px;
    transition: 0.5s;
    min-width: 64px;
    cursor: pointer;

    &.without-icon {
        padding-left: 16px;
    }

    &.with-icon {
        padding-left: 12px;

        .label {
            margin-left: 8px;
        }
    }

    &:hover, &:focus {
        text-decoration: none;
        outline: none;
        opacity: 0.8;
    }
}
