#page-cv {
  flex-grow: 1;
  background-color: #F8F8FF;
  background: radial-gradient(50% 300px at 0% 0%, #673AB7, transparent), radial-gradient(50% 300px at 100% 0%, #D81B60, transparent), radial-gradient(50% 300px at 50% 0%, #FDD835, transparent), radial-gradient(50% 150px at 100% 100%, #673AB7, transparent), radial-gradient(50% 150px at 0% 100%, #D81B60, transparent), radial-gradient(50% 150px at 50% 100%, #FDD835, transparent); }
  @media (max-width: 576px) {
    #page-cv {
      background: radial-gradient(50% 200px at 0% 0%, #673AB7, transparent), radial-gradient(50% 200px at 100% 0%, #D81B60, transparent), radial-gradient(75% 200px at 50% 0%, #FDD835, transparent), radial-gradient(50% 150px at 100% 100%, #673AB7, transparent), radial-gradient(50% 150px at 0% 100%, #D81B60, transparent), radial-gradient(50% 150px at 50% 100%, #FDD835, transparent); } }
  #page-cv.page-cv-not-loaded {
    opacity: 0; }
  #page-cv.page-cv-loaded {
    animation-duration: 2s;
    animation-name: page-appear; }
  #page-cv .block {
    padding: 30px 50px; }
    @media (max-width: 576px) {
      #page-cv .block {
        padding: 10px; } }
    #page-cv .block h1 {
      color: #673AB7;
      margin: 0px 0px 10px 0px; }
    #page-cv .block.block-primary {
      background-color: #673AB7;
      color: #F8F8FF; }
  #page-cv #block-name {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #673AB7;
    text-align: center; }
    #page-cv #block-name #name {
      font-size: 40px;
      font-weight: 300; }
    #page-cv #block-name #job-position {
      font-size: 30px;
      font-weight: 100; }
  #page-cv #block-skill .container-skill {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px; }
    @media (max-width: 576px) {
      #page-cv #block-skill .container-skill {
        grid-template-columns: repeat(1, 1fr); } }
  #page-cv footer {
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    @media (max-width: 576px) {
      #page-cv footer {
        padding: 10px; } }
    #page-cv footer .language {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px; }
      #page-cv footer .language .label {
        margin-bottom: 10px;
        color: #673AB7; }
      #page-cv footer .language input {
        width: 32px;
        height: 32px;
        margin: 0px 10px;
        opacity: 0.5;
        transition: 0.5s; }
        #page-cv footer .language input:hover, #page-cv footer .language input:focus {
          outline: none;
          opacity: 1;
          transform: scale(1.1); }
    #page-cv footer .attributions {
      font-size: 0.7em; }

@keyframes page-appear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.component-timeline .timeline-event {
  display: flex;
  flex-direction: row; }
  .component-timeline .timeline-event:first-child .timeline-line {
    padding-top: 10px; }
  .component-timeline .timeline-event:first-child .timeline-content {
    padding-top: 10px; }
    @media (max-width: 576px) {
      .component-timeline .timeline-event:first-child .timeline-content {
        padding-top: 13px; } }
  .component-timeline .timeline-event:first-child .timeline-date {
    padding-top: 11px; }
    @media (max-width: 576px) {
      .component-timeline .timeline-event:first-child .timeline-date {
        padding-top: 12px; } }
  .component-timeline .timeline-event .timeline-date {
    border-right: 2px solid #FDD835;
    padding-right: 20px;
    padding-top: 1px;
    width: 95px;
    min-width: 95px;
    text-align: right;
    font-weight: 100; }
    @media (max-width: 576px) {
      .component-timeline .timeline-event .timeline-date {
        padding-right: 15px;
        padding-top: 2px;
        width: 50px;
        min-width: 50px; } }
  .component-timeline .timeline-event .timeline-line:before {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    border: 2px solid #FDD835;
    border-radius: 50%;
    position: relative;
    left: -10px;
    top: 3px;
    background-color: #FFFFFF;
    animation-duration: 2s;
    animation-name: bulletappearin; }
  .component-timeline .timeline-event .timeline-content {
    padding-left: 10px;
    margin-bottom: 10px;
    flex: 1; }
    @media (max-width: 576px) {
      .component-timeline .timeline-event .timeline-content {
        padding-top: 3px;
        padding-left: 0px; } }
    .component-timeline .timeline-event .timeline-content .name .label {
      font-weight: 700;
      font-size: 1.2em; }
      @media (max-width: 576px) {
        .component-timeline .timeline-event .timeline-content .name .label {
          font-size: 1em; } }
      @media (max-width: 576px) {
        .component-timeline .timeline-event .timeline-content .name .label {
          display: block; } }
    .component-timeline .timeline-event .timeline-content .name .supplement {
      margin-left: 5px;
      color: #673AB7; }
      @media (max-width: 576px) {
        .component-timeline .timeline-event .timeline-content .name .supplement {
          margin-left: 0px; } }
    .component-timeline .timeline-event .timeline-content .iconInfos div {
      display: inline-block; }
      @media (max-width: 576px) {
        .component-timeline .timeline-event .timeline-content .iconInfos div {
          display: block; } }
      .component-timeline .timeline-event .timeline-content .iconInfos div:not(:first-child) {
        margin-left: 10px; }
        @media (max-width: 576px) {
          .component-timeline .timeline-event .timeline-content .iconInfos div:not(:first-child) {
            margin-left: 0px; } }
      .component-timeline .timeline-event .timeline-content .iconInfos div i {
        vertical-align: middle;
        color: #D81B60; }
      .component-timeline .timeline-event .timeline-content .iconInfos div span {
        vertical-align: middle;
        font-style: italic;
        font-weight: 300; }
    .component-timeline .timeline-event .timeline-content .description {
      font-size: 0.9em;
      color: #888; }

.component-timeline:before, .component-timeline:after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  margin-left: 111px;
  border-radius: 50%;
  background-color: #FDD835; }
  @media (max-width: 576px) {
    .component-timeline:before, .component-timeline:after {
      margin-left: 60px; } }

@keyframes bulletappearin {
  from {
    transform: scale(0); }
  25% {
    transform: scale(1.2); }
  50% {
    transform: scale(1); } }

.component-cv-skill {
  display: flex;
  flex-direction: column; }
  .component-cv-skill .line1 {
    display: flex;
    flex-direction: row;
    flex: 1; }
    .component-cv-skill .line1 .label {
      flex: 1 1 auto;
      font-weight: 900; }
    .component-cv-skill .line1 .value {
      font-weight: 300; }
  .component-cv-skill .line2 {
    margin-top: 5px; }
    .component-cv-skill .line2 .max {
      height: 5px;
      background-color: #888888;
      opacity: 0.2; }
    .component-cv-skill .line2 .value {
      height: 5px;
      position: relative;
      top: -5px;
      background-color: #D81B60;
      animation-duration: 2s;
      animation-name: growin; }

@keyframes growin {
  from {
    width: 0px; } }

.component-cv-hobbies {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center; }
  .component-cv-hobbies .hobby {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: double 5px transparent;
    background-image: linear-gradient(#F8F8FF, #F8F8FF), radial-gradient(circle at top left, #D81B60, #FDD835);
    background-origin: border-box;
    background-clip: content-box, border-box;
    width: 100px;
    height: 100px;
    margin: 20px; }
    @media (max-width: 576px) {
      .component-cv-hobbies .hobby {
        width: 50px;
        height: 50px;
        margin: 20px 10px; } }
    .component-cv-hobbies .hobby img {
      width: 64px;
      height: 64px; }
      @media (max-width: 576px) {
        .component-cv-hobbies .hobby img {
          width: 32px;
          height: 32px; } }
  .component-cv-hobbies .tooltip-parent {
    position: relative;
    text-align: center; }
    .component-cv-hobbies .tooltip-parent:hover .tooltip {
      transform: scale(1); }
    .component-cv-hobbies .tooltip-parent .tooltip {
      color: #673AB7;
      position: absolute;
      bottom: -40px;
      width: 200px;
      transform: scale(0);
      transition: 0.3s; }
      .component-cv-hobbies .tooltip-parent .tooltip:before {
        content: "";
        position: absolute;
        top: -10px;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #673AB7 transparent; }

.component-cv-aboutme .left-block {
  float: left;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .component-cv-aboutme .left-block .picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: double 5px transparent;
    background-image: linear-gradient(#F8F8FF, #F8F8FF), radial-gradient(circle at top left, #D81B60, #FDD835);
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin-bottom: 10px; }
  .component-cv-aboutme .left-block .socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px; }
    .component-cv-aboutme .left-block .socials a {
      color: #673AB7;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s; }
      .component-cv-aboutme .left-block .socials a:hover, .component-cv-aboutme .left-block .socials a:focus {
        text-decoration: none;
        outline: none;
        transform: scale(1.2);
        color: #7e57c2; }
  .component-cv-aboutme .left-block .download button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    color: #F8F8FF;
    background-color: #673AB7;
    padding: 5px 10px;
    height: 30px;
    border-radius: 15px;
    transition: 0.5s; }
    .component-cv-aboutme .left-block .download button span {
      margin: 0px 8px 0px 0px; }
    .component-cv-aboutme .left-block .download button:hover, .component-cv-aboutme .left-block .download button:focus {
      text-decoration: none;
      outline: none;
      background-color: #7e57c2; }

.component-cv-aboutme .right-block {
  text-align: justify;
  font-style: italic;
  color: #888888; }

html, body {
  font-family: 'Nunito', sans-serif;
  margin: 0px;
  height: 100%;
  background-color: #F8F8FF;
  scrollbar-width: thin; }
  html ::-webkit-scrollbar, body ::-webkit-scrollbar {
    width: 8px; }
  html ::-webkit-scrollbar-thumb, body ::-webkit-scrollbar-thumb {
    background: #CCCCCC; }

button {
  font-family: 'Nunito', sans-serif; }

a {
  color: #D81B60;
  text-decoration: none; }

app {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column; }

#loading {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center; }
  #loading div {
    background: radial-gradient(100px 100px at calc(50% - 30px) calc(50% - 20px), #673AB7, transparent), radial-gradient(100px 100px at calc(50% + 30px) calc(50% - 20px), #D81B60, transparent), radial-gradient(100px 100px at 50% calc(50% + 40px), #FDD835, transparent);
    height: 300px;
    width: 300px;
    animation: 2s linear infinite;
    animation-name: rotation; }
    @media (max-width: 576px) {
      #loading div {
        background: radial-gradient(50px 50px at calc(50% - 15px) calc(50% - 10px), #673AB7, transparent), radial-gradient(50px 50px at calc(50% + 15px) calc(50% - 10px), #D81B60, transparent), radial-gradient(50px 50px at 50% calc(50% + 20px), #FDD835, transparent); } }

@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(365deg); } }

#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000; }

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem; }

/* Rules for sizing the icon. */
.material-icons-outlined.md-18 {
  font-size: 18px; }

.material-icons-outlined.md-24 {
  font-size: 24px; }

.material-icons-outlined.md-36 {
  font-size: 36px; }

.material-icons-outlined.md-48 {
  font-size: 48px; }
