<div class="component-cv-skill">
    <div class="line1">
        <span class="label">@Label</span>
        <span class="value">@Percentage%</span>
    </div>
    <div class="line2">
        <div class="max"></div>
        <div class="value" style="width: @Percentage%;"></div>
    </div>
</div>

@code {
    [Parameter]
    public string Label { get; set; }
    [Parameter]
    public int Percentage { get; set; }
}
