<div class="component-resume-hobbies">
    @foreach (var hobby in HobbiesData)
    {
        <div class="hobby tooltip-parent">
            <img src="@("images/hobbies/" + @hobby.Icon + ".svg")" alt="@hobby.Label" />
            <span class="tooltip">@hobby.Label</span>
        </div>
    }
</div>

@code {
    [Parameter]
    public HobbiesViewModel[] HobbiesData { get; set; }
}
