@import "../../../../Styles/Theme.scss";

.component-timeline {

    .timeline-event {
        display: flex;
        flex-direction: row;

        &:first-child {
            .timeline-line {
                padding-top: 10px;
            }

            .timeline-content {
                padding-top: 10px;

                @media (max-width: 576px) {
                    padding-top: 13px;
                }
            }

            .timeline-date {
                padding-top: 11px;

                @media (max-width: 576px) {
                    padding-top: 12px;
                }
            }
        }

        .timeline-date {
            border-right: 2px solid $tertiary-color;
            padding-right: 20px;
            padding-top: 1px;
            width: 95px;
            min-width: 95px;
            text-align: right;
            font-weight: 100;

            @media (max-width: 576px) {
                padding-right: 15px;
                padding-top: 2px;
                width: 50px;
                min-width: 50px;
            }
        }

        .timeline-line {
            &:before {
                content: '';
                display: block;
                width: 14px;
                height: 14px;
                border: 2px solid $tertiary-color;
                border-radius: 50%;
                position: relative;
                left: -10px;
                top: 3px;
                background-color: #FFFFFF;
                animation-duration: 2s;
                animation-name: bulletappearin;
            }
        }

        .timeline-content {
            padding-left: 10px;
            margin-bottom: 10px;
            flex: 1;

            @media (max-width: 576px) {
                padding-top: 3px;
                padding-left: 0px;
            }

            .name {
                .label {
                    font-weight: 700;
                    font-size: 1.2em;

                    @media (max-width: 576px) {
                        font-size: 1em;
                    }

                    @media (max-width: 576px) {
                        display: block;
                    }
                }

                .supplement {
                    margin-left: 5px;
                    color: $primary-color;

                    @media (max-width: 576px) {
                        margin-left: 0px;
                    }
                }
            }

            .iconInfos {

                div {
                    display: inline-block;

                    @media (max-width: 576px) {
                        display: block;
                    }

                    &:not(:first-child) {
                        margin-left: 10px;

                        @media (max-width: 576px) {
                            margin-left: 0px;
                        }
                    }

                    i {
                        vertical-align: middle;
                        color: $secondary-color;
                    }

                    span {
                        vertical-align: middle;
                        font-style: italic;
                        font-weight: 300;
                    }
                }
            }

            .description {
                font-size: 0.9em;
                color: #888;
            }
        }
    }

    &:before, &:after {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        margin-left: 111px;
        border-radius: 50%;
        background-color: $tertiary-color;

        @media (max-width: 576px) {
            margin-left: 60px;
        }
    }

    @keyframes bulletappearin {
        from {
            transform: scale(0);
        }

        25% {
            transform: scale(1.2);
        }

        50% {
            transform: scale(1);
        }
    }
}
